HOST=127.0.0.1
SESSION_SECRET=
STONEPI_SESSION_SECRET=
STONEPI_HOSTNAME=stonepi
STONEPI_AUTH_URL=http://127.0.0.1:8011
STONEPI_PUBLIC_ORIGIN=http://127.0.0.1:8010
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
